@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background-color: #1b1b1b;
    color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1b1b1b;
    color: white;
    padding: 10px;
}

main {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 5em;
    background: linear-gradient(90deg, #82f369 0%, #91cfff 40%, #ffaacc 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.task-container {
    padding: 20px;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(41, 41, 41, 0.479);
    width: 40rem;
    margin: 0 auto;
}


.task-container input,
.task-container button {
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
}

.task-container input {
    width: 70%;
    margin-right: 1em;
}

.task-container input:focus,
.task-container button:focus {
    outline: none;
    border-color: #e7e7e7;
}

.task-container button {
    cursor: pointer;
}

.task-container button:hover {
    background-color: #444;
}

.task-container .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2c2c2c;
}

.task-container .task .task-text {
    flex-grow: 1;
    margin-right: 10px;
}

.task-container .task .task-icons {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.task-container p {
    font-size: 16px;
    color: #f3f3f3;
    margin: 10px 0;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    cursor: pointer;
}

/* Form specific styles */
.todo-btn {
    margin-top: 10px;
    border: 2px solid yellow;
}

.TaskForm .todo-btn {
    margin-top: 10px;
    border: 2px solid yellow;
}

.TaskForm input {
    width: 80%;
}
